.container {
  max-width: 1170px;
  margin: auto;
  font-family: "Proxima Nova Semibold", "Arial", sans-serif;
}

body {
  color: #262626;
}

.button-o {
  padding: 17px 22px;
  border: 2px solid #507fe1;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #507fe1;
  background-color: transparent;
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  background-color: #507fe1;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 5px;
  text-decoration: none;
  color: #262626;
}

.navbar__small-text {
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

.navbar .menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  border-top: none;
  border-bottom: none;
}

.navbar .menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #7c9fe9;
  margin: 2px 0;
}

.navbar .logo__text {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar .logo__description {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #7b7b79;
  font-size: 14px;
}

.hero {
  background: #f1f1f1 url(../img/hero/hero-bg.jpg) no-repeat center top 80px;
  background-size: contain;
  padding-top: 180px;
  padding-bottom: 270px;
}

.hero__title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #121212;
  margin-bottom: 67px;
}
/*# sourceMappingURL=style.css.map */